Start Simulator Configuration File:
Version/Phase                     : 1.10
File Path                         : metadata_c1.mdf
CPU Scheduling Code               : FCFS-N
Quantum Time (cycles)             : 5
Memory Available (KB)             : 20480
Memory Display (On/Off)           : On
Processor Cycle Time (msec)       : 15
I/O Cycle Time (msec)             : 25
Log To                            : Both
Log File Path                     : logfile_c1.lgf
End Simulator Configuration File.
