Start Simulator Configuration File:
Version/Phase                     : 6.50
File Path                         : metadata_inc3.mdf
CPU Scheduling Code               : XYZ-P   # Invalid scheduling code
Quantum Time (cycles)             : -10     # Invalid quantum time
Memory Available (KB)             : -20480  # Negative memory value
Memory Display (On/Off)           : Invalid # Invalid value
Processor Cycle Time (msec)       : -5      # Negative processor time
I/O Cycle Time (msec)             : -15     # Negative I/O time
Log To                            : Screen  # Incorrect Log To value
Log File Path                     : logfile_inc3.lgf
End Simulator Configuration File.
